In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [31]:
df = pd.read_csv("data/titanic_cleaning.csv")
df

     PassengerId  Survived  Pclass  Sex        Age  SibSp  Parch     Fare
0              1         0       3    0  22.000000      1      0   7.2500
1              2         1       1    1  38.000000      1      0  71.2833
2              3         1       3    1  26.000000      0      0   7.9250
3              4         1       1    1  35.000000      1      0  53.1000
4              5         0       3    0  35.000000      0      0   8.0500
..           ...       ...     ...  ...        ...    ...    ...      ...
886          887         0       2    0  27.000000      0      0  13.0000
887          888         1       1    1  19.000000      0      0  30.0000
888          889         0       3    1  29.699118      1      2  23.4500
889          890         1       1    0  26.000000      0      0  30.0000
890          891         0       3    0  32.000000      0      0   7.7500

[891 rows x 8 columns]

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare'],
      dtype='object')

In [4]:
features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']
label = "Survived"

X, y = df[features], df[label]

X, y

(     Pclass  Sex        Age  SibSp  Parch     Fare
 0         3    0  22.000000      1      0   7.2500
 1         1    1  38.000000      1      0  71.2833
 2         3    1  26.000000      0      0   7.9250
 3         1    1  35.000000      1      0  53.1000
 4         3    0  35.000000      0      0   8.0500
 ..      ...  ...        ...    ...    ...      ...
 886       2    0  27.000000      0      0  13.0000
 887       1    1  19.000000      0      0  30.0000
 888       3    1  29.699118      1      2  23.4500
 889       1    0  26.000000      0      0  30.0000
 890       3    0  32.000000      0      0   7.7500

 [891 rows x 6 columns],
 0      0
 1      1
 2      1
 3      1
 4      0
       ..
 886    0
 887    1
 888    0
 889    1
 890    0
 Name: Survived, Length: 891, dtype: int64)

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split( X, y, train_size=0.2 )

In [6]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()
dt.fit( X_train, y_train )
dt.score( X_test, y_test )

0.7110799438990182

In [7]:
from sklearn.neighbors import KNeighborsClassifier

kn = KNeighborsClassifier()
kn.fit( X_train, y_train )
kn.score( X_test, y_test )

0.6661991584852734

In [9]:
import sklearn.svm as svm

svm_linear = svm.SVC(kernel="linear")
svm_linear.fit( X_train, y_train )
svm_linear.score( X_train, y_train )

0.7303370786516854

In [10]:
svm_rbf = svm.SVC(kernel="rbf")
svm_rbf.fit( X_train, y_train )
svm_rbf.score( X_test, y_test )

0.667601683029453

In [13]:
svm_svot = svm.SVC(kernel="rbf", probability=True)
svm_svot.fit( X_train, y_train )

from sklearn.ensemble import VotingClassifier

vo = VotingClassifier( estimators=[ ("svc", svm_svot), ("knn", kn), ("DecisionTree", dt) ], voting="soft" )
vo.fit( X_train, y_train )

print("svm : ", svm_svot.score( X_test, y_test ))
print("kn : ", kn.score( X_test, y_test ))
print("dt : ", dt.score( X_test, y_test ))
print("vo : ", vo.score( X_test, y_test ))

svm :  0.667601683029453
kn :  0.6661991584852734
dt :  0.7110799438990182
vo :  0.729312762973352

In [14]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit( X_train, y_train )
rfc.score( X_test, y_test )

0.7685834502103787

In [15]:
from sklearn.ensemble import GradientBoostingClassifier

gbc = GradientBoostingClassifier()
gbc.fit( X_train, y_train )
gbc.score( X_test, y_test )

0.7699859747545582

## 생존 죽음 여부 확인
* Suvived : 0이면 사망, 1이면 생존
* Pclass : 티켓 등급(1, 2, 3)
* Sex : 성별(0.남성, 1.여성)
* Age : 나이
* SibSp : 형제, 자매, 배우자의 합
* Parch : 부모, 자식의 합
* Fare : 요금

In [33]:
# ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']
test = [ [ 3, 0, 450, 900, 1, 1 ] ]

result = gbc.predict( test )

if (result[0] == 1) :
    print("생존하셨습니다!!")
else :
    print("뒈짓 ㅋㅋ")

생존하셨습니다!!