In [1]:
import pandas as pd

df= pd.read_csv("data/test3.csv")
df

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2
5  a   1   1

In [2]:
df.duplicated()

0    False
1     True
2    False
3    False
4    False
5     True
dtype: bool

In [7]:
df.duplicated().sum()

2

In [9]:
df.drop_duplicates( inplace = True )

In [10]:
df

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [ ]:
df.reset_ind