### 결측치를 제거하시오
- 1. 결측치 제거(행 삭제)
- 2. 결측치 치환
    * Gender : Mail
    * Married : Yes
    * Dependents : NaN 최빈값으로 변경. '3+'는 3으로 변경
    * Self_Employed : 이전값
    * LoanAmount : 이후값
    * Loan_Amount_Term : 평균값
    * Credit_History : 1.0

In [1]:
import pandas as pd

df = pd.read_csv("data/loan-train.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

## 결측치 확인

In [2]:
# 데이터셋 행, 열 개수 출력 및 결측치 확인

print(df.shape)
print(df.isnull().sum())

(614, 13)
Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

## 결측치 제거

In [6]:
# 결측치 제거 후 확인

df.dropna( inplace=True )
print(df.shape)
print(df.isnull().sum())

(480, 13)
Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

## 결측치 치환
- 1. 결측치 제거(행 삭제)
- 2. 결측치 치환
    * Gender : Mail
    * Married : Yes
    * Dependents : NaN 최빈값으로 변경. '3+'는 3으로 변경
    * Self_Employed : 이전값
    * LoanAmount : 이후값
    * Loan_Amount_Term : 평균값
    * Credit_History : 1.0

In [12]:
df = pd.read_csv("data/loan-train.csv")
print(df.shape)
print(df.isnull().sum())

(614, 13)
Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [9]:
# Gender 유니크값 확인

df["Gender"].unique()

array(['Male', 'Female', nan], dtype=object)

In [18]:
# Gender NaN Male 값으로 치환 후 확인

df["Gender"][ df["Gender"].isnull() ] = "Male"
df["Gender"].unique()

C:\Users\Zeres\AppData\Local\Temp\ipykernel_322728\1163282911.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Gender"][df["Gender"].isnull()] = "Male"

array(['Male', 'Female'], dtype=object)

In [19]:
# Married 치환 전 유니크 값 확인

df["Married"].unique()

array(['No', 'Yes', nan], dtype=object)

In [21]:
df["Married"][ df["Married"].isnull() ] = "Yes"
df["Married"].unique()

C:\Users\Zeres\AppData\Local\Temp\ipykernel_322728\3875469504.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Married"][ df["Married"].isnull() ] = "Yes"

array(['No', 'Yes'], dtype=object)

In [22]:
# Dependents 변경 전 확인

df["Dependents"].unique()

array(['0', '1', '2', '3+', nan], dtype=object)

In [24]:
# Dependents NaN값 최빈값으로 변경 후 확인

df["Dependents"][ df["Dependents"].isnull() ] = df["Dependents"].mode()[0]
df["Dependents"].unique()

C:\Users\Zeres\AppData\Local\Temp\ipykernel_322728\1562347662.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Dependents"][ df["Dependents"].isnull() ] = df["Dependents"].mode()[0]

array(['0', '1', '2', '3+'], dtype=object)

In [25]:
# Dependents 3+ -> 3으로 변경 후 확인

df["Dependents"][ df["Dependents"] == "3+" ] = "3"
df["Dependents"].unique()

C:\Users\Zeres\AppData\Local\Temp\ipykernel_322728\2238012400.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Dependents"][ df["Dependents"] == "3+" ] = "3"

array(['0', '1', '2', '3'], dtype=object)

In [26]:
# Self_Employed 변경 전 확인

df["Self_Employed"].unique()

array(['No', 'Yes', nan], dtype=object)

In [27]:
# Self_Employed 이전 값으로 변경 후 확인

df["Self_Employed"].fillna(method="pad", inplace=True)
df["Self_Employed"].unique()

array(['No', 'Yes'], dtype=object)

In [28]:
# LoanAmount 변경 전 확인

df["LoanAmount"].unique()

array([ nan, 128.,  66., 120., 141., 267.,  95., 158., 168., 349.,  70.,
       109., 200., 114.,  17., 125., 100.,  76., 133., 115., 104., 315.,
       116., 112., 151., 191., 122., 110.,  35., 201.,  74., 106., 320.,
       144., 184.,  80.,  47.,  75., 134.,  96.,  88.,  44., 286.,  97.,
       135., 180.,  99., 165., 258., 126., 312., 136., 172.,  81., 187.,
       113., 176., 130., 111., 167., 265.,  50., 210., 175., 131., 188.,
        25., 137., 160., 225., 216.,  94., 139., 152., 118., 185., 154.,
        85., 259., 194.,  93., 370., 182., 650., 102., 290.,  84., 242.,
       129.,  30., 244., 600., 255.,  98., 275., 121.,  63., 700.,  87.,
       101., 495.,  67.,  73., 260., 108.,  58.,  48., 164., 170.,  83.,
        90., 166., 124.,  55.,  59., 127., 214., 240.,  72.,  60., 138.,
        42., 280., 140., 155., 123., 279., 192., 304., 330., 150., 207.,
       436.,  78.,  54.,  89., 143., 105., 132., 480.,  56., 159., 300.,
       376., 117.,  71., 490., 173.,  46., 228., 308., 236., 570., 380.,
       296., 156., 103.,  45.,  65.,  53., 360.,  62., 218., 178., 239.,
       405., 148., 190., 149., 153., 162., 230.,  86., 234., 246., 500.,
       186., 119., 107., 209., 208., 243.,  40., 250., 311., 400., 161.,
       196., 324., 157., 145., 181.,  26., 211.,   9., 205.,  36.,  61.,
       146., 292., 142., 350., 496., 253.])

In [29]:
# LoanAmount 이후(다음) 값으로 변경 후 확인

df["LoanAmount"].fillna(method="bfill", inplace=True)
df["LoanAmount"].unique()

array([128.,  66., 120., 141., 267.,  95., 158., 168., 349.,  70., 109.,
       200., 114.,  17., 125., 100.,  76., 133., 115., 104., 315., 116.,
       112., 151., 191., 122., 110.,  35., 201.,  74., 106., 320., 144.,
       184.,  80.,  47.,  75., 134.,  96.,  88.,  44., 286.,  97., 135.,
       180.,  99., 165., 258., 126., 312., 136., 172.,  81., 187., 113.,
       176., 130., 111., 167., 265.,  50., 210., 175., 131., 188.,  25.,
       137., 160., 225., 216.,  94., 139., 152., 118., 185., 154.,  85.,
       259., 194.,  93., 370., 182., 650., 102., 290.,  84., 242., 129.,
        30., 244., 600., 255.,  98., 275., 121.,  63., 700.,  87., 101.,
       495.,  67.,  73., 260., 108.,  58.,  48., 164., 170.,  83.,  90.,
       166., 124.,  55.,  59., 127., 214., 240.,  72.,  60., 138.,  42.,
       280., 140., 155., 123., 279., 192., 304., 330., 150., 207., 436.,
        78.,  54.,  89., 143., 105., 132., 480.,  56., 159., 300., 376.,
       117.,  71., 490., 173.,  46., 228., 308., 236., 570., 380., 296.,
       156., 103.,  45.,  65.,  53., 360.,  62., 218., 178., 239., 405.,
       148., 190., 149., 153., 162., 230.,  86., 234., 246., 500., 186.,
       119., 107., 209., 208., 243.,  40., 250., 311., 400., 161., 196.,
       324., 157., 145., 181.,  26., 211.,   9., 205.,  36.,  61., 146.,
       292., 142., 350., 496., 253.])

In [30]:
# Loan_Amount_Term 변경 전 확인

df["Loan_Amount_Term"].unique()

array([360., 120., 240.,  nan, 180.,  60., 300., 480.,  36.,  84.,  12.])

In [32]:
# Loan_Amount_Term 평균값으로 변경 후 확인

df["Loan_Amount_Term"][ df["Loan_Amount_Term"].isnull() ] = df["Loan_Amount_Term"].mean()
df["Loan_Amount_Term"].unique()

C:\Users\Zeres\AppData\Local\Temp\ipykernel_322728\884928910.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Loan_Amount_Term"][ df["Loan_Amount_Term"].isnull() ] = df["Loan_Amount_Term"].mean()

array([360., 120., 240., 342., 180.,  60., 300., 480.,  36.,  84.,  12.])

In [33]:
# Credit_History 변경전 확인
# Credit_History 1.0 변경 후 확인

print(df["Credit_History"].unique())
df["Credit_History"][ df["Credit_History"].isnull() ] = 1.0
print(df["Credit_History"].unique())

[ 1.  0. nan]
[1. 0.]

C:\Users\Zeres\AppData\Local\Temp\ipykernel_322728\1742870815.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Credit_History"][ df["Credit_History"].isnull() ] = 1.0

In [34]:
# 최종 결과 확인

df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64