## 다음 데이터를 이용해 데이터 분석하라
1. 도시별 가격 평균을 구하라
2. 각 도시에서 과일별 가격 평균을 구하라
3. 부산에서 가장 비싼 과일은 몇 개인지 구하라
4. 각 도시별로 가장 비싼 가격과 가장 적은 개수를 구하라

In [1]:
import pandas as pd

df = pd.DataFrame( {
    "city" : [ "부산", "부산", "부산", "부산", "서울", "서울", "서울" ],
    "fruits" : [ "apple", "orange", "banana", "banana", "apple", "apple", "banana" ],
    "price" : [ 100, 200, 250, 300, 150, 200, 400 ],
    "quantity" : [ 1, 2, 3, 4, 5, 6, 7 ]
} )

1. 도시별 가격 평균을 구하라

2. 각 도시에서 과일별 가격 평균을 구하라

3. 부산에서 가장 비싼 과일은 몇 개인지 구하라

4. 각 도시별로 가장 비싼 가격과 가장 적은 개수를 구하라